div {
    display: flex;
}

#tracking {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100px;
    gap: 12px;
    position: relative;
}

#tracking p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 100px;
    gap: 12px;
    position: relative;
}

#one {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.main {
    width: 500px;
}

#begin {
    width: 100px;
    height: 50px;
    padding: 7px;
}

button {
    height: 250px;
    width: 250px;
    border-radius: 60px;
}

#welcome {
    color: rgb(138, 20, 20);
    
}

header {
    display: flex;
    flex-direction: row;
    background-color: goldenrod;
    padding: 24px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: whitesmoke;
    box-sizing: border-box;
    justify-content: space-between;
}

#game-btns {
    display: flex;
    gap: 20px;
    justify-content: center;
    border: none;
}

.btn {
    font-size: 125px;
    border: none;
    background-color: whitesmoke;
}

#two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.short-description, .short-description-2 {
    padding-left: 24px;
    padding-right: 24px;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 12px;

}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

#three {
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 5px;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}